

body {
	font-family: heavitas;
	color: #000;
	background-color: transparent;
}



.profile-card {
	width: 400px;
	margin: auto;
	background: #fff;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
}

.image-container {
	position: relative;
}

.title {
	margin-left: 15px;
}

.info {
	color: #4b4fe2;
	margin-right: 16px;
}

.main-container {
	margin-left: 16px;
}

